@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 68, 68, 68;
  --background-rgb: 254, 254, 254;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
